html
  head
    link(rel='apple-touch-icon' sizes='180x180' href='/img/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/img/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/img/favicon/favicon-16x16.png')
    link(rel='manifest' href='/img/favicon/site.webmanifest')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    -var cntnt = "Ultimativer Notizblock mit unendlicher Schachtelung. "
    -cntnt = cntnt + "Aktuell ein Prototyp, entsteht hier ein intuitives Werkzeug um Dinge zu lernen und dabei die Übersicht über Themen zu behalten."
    meta(name='description' content=cntnt)
    link(rel='stylesheet' href='/css/treemory-nav.css')
    link(rel='stylesheet' href='/css/mathekarte.css')
    script.
      MathJax = { options: { skipHtmlTags: ['p'], processHtmlClass: 'hgl'}  };
    script#MathJax-script(type='text/javascript' async='' src='https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js')
    title Mathekarte
  body

    //- mathekarte
    img(src="/img/save.png", alt="diskette", draggable="false")#btn-save
    div.dialogue.hidden#dialogue-save
      div.dialogue-header
        h1 save
        button.btn-close#dialogue-save-btn-close &times;
      p enter permanent short name (can't be changed)
      form(action="javascript: saveForm()")
        label#dialogue-save-pre-id
        input(
          pattern="[A-Za-z]{4}"
          type="text"
          title="exactly 4 letters"
          maxlength="4"
          size="4"
          autocomplete="off"
          required
          )#dialogue-save-inp-name
        br
        input(type="submit" value="save").btn-dialogue
        button(onclick="return false").btn-dialogue#dialogue-save-btn-cancel cancel
    
    //- treemory
    div.modi
      img(src="/img/mathmode.png", alt="mathematical formula", draggable="false")#mathmode
    script(type='module' src= '/js/mathekarte.js')